.jv-editor {
    margin:0 auto;
    margin-top: 80px;
    width:  80%;
}

.jv-code-editor{
    height: 500px;
    box-sizing: border-box;
}

.alert-close-btn{
    float: right;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
}
