/*
* !IMPORTANT!
* dart-pro.scss contains all the color variables and considered as base color-scheme.
* To create a new color schemes simply create a new YOUR_SCHEME.scss file and overwrite the color variables that dark-pro.scss offers.
*/

:root{
    --bg-color:#11101E;
    --primary-text-color: #fff;
    --primary-font-family: sans-serif;
    --breadcumb-border-color: rgb(45, 42, 57);
    --breadcumb-bg-color: #1A1B28;
    --copy-path-btn-img-filter: none;
    --base-font-size: 15px;
    --breadcumb-item-hover-color: #4fdee5;
    --breadcumb-arrow-color: #01ff70;
    --menu-item-border-color: #292938;
    --menu-item-bg-color: #1A1B28;
    --menu-item-active-border-color: rgb(105 75 226);
    --menu-item-active-bg-color: #433387;
    --menu-item-img-filter: none;
    --copyable-property-bg-color: rgba(33, 47, 61, 0.8);
    --copyable-property-border-color: #5d6d7e;
    --btn-bg-color: #33354a;
    --btn-border-color: #111;
    --btn-default-bg-color: #1A1B28;
    --btn-primary-bg-color: #433387;
    --btn-primary-text-color: white;

    /* JSON Tree Color Scheme*/
    --property-color: #4fdee5;
    --json-literal-numeric: #f5b041;
    --json-literal-string: #01ff70;
    --json-literal-url: #0184ff;
    --json-literal-and-boolean: #af7ac5;
    --copier-bg-color: #2ecc71;
    --copier-text-color: #2ecc71;

    /* chart view*/
    --json-chart-circle-bg: #01ff70;

    /* editor */
    --json-input-bg-color: #17202a;
    --json-input-border-color: #363537;
    --error-msg-bg-color: #1f0604;
    --editor-footer-bg-color: #111;
    --editor-footer-text-color: #868585;
    --editor-footer-border-color: #222;

    /* dropdown */
    --dropdown-bg-primary: #1A1B28;
    --dropdown-menu-item-bg: #43455d;
    --dropdown-menu-item-border-color: #222;
    --dropdown-menu-border-color: #111;

    /* json path search bar */
    --searchbar-bg-color:rgba(29, 27, 61, 1);
    --searchbar-border-color:#111111;
    --searchbar-box-shadow-color:rgba(6, 6, 6, 0.7);
    --searchbar-text-input-bg-color: #000000;
    --searchbar-text-input-border-color: #222;
    --searchbar-text-input-text-color: #01ff70;
    --searchbar-text-input-focus-outline-color: #4a4173;
    --searchbar-info-text-color: #d8d6d6;
    --search-clear-btn-text-color: #4a4173;
    --search-clear-btn-bg-color: #000000;

    /* common */
    --toolbar-bg-color: #000;
    --toolbar-border-color: #222;
}
