.extension-list-overlay {
    position: fixed;
    top: 70px;
    right: 40px;
    width: 260px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #271d3f;
    // background: radial-gradient(at center top, #32264F, #10042B);
    background: radial-gradient(at center top, #271d3f, #10042B);
    border: 1px solid #3b2f57;
    border-radius: 8px;
    z-index: 1;
    animation: fadein ease-in .3s;
}

.extension-header{
    box-sizing: border-box;
    padding: 14px;
    border-bottom: 1px solid #3b2f57;
    background: #110828;
}

.overlay-title{
    margin:0px;
    font-size: 14px;
}

.extension{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #3b2f57;

    &:last-child {
        border-bottom: none;
    }

    &-icon {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }

    &-details {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: rgba($color: #ffffff, $alpha: 8.0);


        h4.extension-title {
            font-size: 14px;
            line-height: 120%;
            margin:0px;
            font-weight: normal;
            display: inline-block;
        }

        .sm-icon {
            margin-left: 10px;
            background-color: rgb(59 47 87 / 50%);
            padding: 5px;
            border-radius: 4px;
        }
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }

    to{
        opacity: 1;
    }
}
