body {
    background-color: #f6f7f8;
    color:#0642b0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tab-container {
    margin: 20px;
    margin-left: 40px;
}
.breadcumb{
    position: fixed;
    top:20px;
    left: 20px;
    display: block;
    border:1px solid #111;
    width:auto;
}

.breadcumb > ul {
    margin:0;
    padding:0;
}

.breadcumb > ul > li {
    list-style: none;
    display: inline-block;
}

.breadcumb > ul > li> a {
    display: block;
    padding: 10px;
    padding-right: 5px;
    padding-left: 0px;
    text-decoration: none;
    color: #4FDEE5;
    width: auto;
    border-right: none;
    font-size: 14px;
    background-color: #17202A;
    border-right: none;
    border-left: none;
    cursor:pointer;
}

.breadcumb > ul > li:last-child > a{
    padding-right: 10px;
}
.breadcumb > ul > li:first-child> a {
    padding-left:10px;
}
.breadcumb > ul > li> a::after{
    content: "\25B6"; /* left arrow */
    color: #7C4BDE;
    cursor: auto;
}
.breadcumb > ul > li:last-child> a::after {
    content: ""; /* no arrow after last child*/
}

.action-area{
    width: auto;
    position: fixed;
    top:20px;
    right: 75px;
}
.action-area>ul.menus {
    margin:0;
    padding:0;
}
.action-area > ul.menus > li{
    list-style: none;
    display: inline-block;
}
.action-area > ul.menus > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ccc;
    width: auto;
    border: 1px solid #111;
    border-right: none;
    font-size: 12px;
    background-color: #16456f;
    font-weight: bold;
    cursor: pointer;
}

.action-area > ul.menus > li.active > a{
    background-color: #347dbd;
}
ul.json-dict li {
    width: auto;
    display: block;
    line-height: 180%;
}
.copyable{
    background: rgba(33, 47, 61  ,.8);
    width: auto;
    border: 1px dotted #5D6D7E;
}
.copyable>ul.json-dict, .copyable > ol.json-array {
    border-left:none;
}
.property{
    color:#994c9e;/*#3DAAE0;*/
    line-height: 160%;
    font-weight: bold;
}
.json-literal-numeric{
    color:#F5B041;
}
.json-literal-url {
    color: #34a632;
}
.json-literal-string{
    color:#0642b0;
}
.json-literal-boolean{
    color: #f23ebb;
}
.nodeCircle{
    fill: #01ff70;
}
.chart-holder{
    font-size:14px;
}

.json-input-section{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}
.json-input-section h1 {
    color: #16456f;
    font-size:30px;
    font-weight: 100;
    line-height: 110%;
    text-align: center;
}
.form-input{
    margin-bottom: 20px;
}
.json-input{
    box-sizing: border-box;
    width: 100%;
    height:450px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgb(204, 203, 204);
    color:#994c9e;
    padding:20px;
    font-size: 15px;
    font-family: monospace;
    line-height: 1.8;
    font-weight: 600;

}
.btn {
    margin:0 auto;
    padding: 10px;
    font-size:14px;
    text-align: center;
    border: none;
}
 .btn-white{
     border-color: #fff;
    background-color: transparent;
    color: #fff;
}
.btn-big {
    font-weight: bold;
    font-size:18px;
    padding: 15px 20px;
    background-color: #16456f;
}
textarea:focus {
    border:none;
    outline: none;
}
.btn:hover {
    background-color: #BE70F4;
    transition: background-color .4s ease-in;
}
.json-logo {
    background-color: #16456f;
    margin:0 auto;
    width:70px;
    height: 70px;
    border-radius: 100%;
    border:2px solid #fff;
    text-align: center;
    vertical-align: middle;
}
.json-logo span {
    display: block;
    font-size:30px;
    color:#fff;
    line-height: 100%;
    margin-top:15px;
}
.save-btn-area{
    text-align: center;
}
.json-input-error-msg{
    color:#fff;
    padding:20px;
    background-color: #DE1509;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 7px 7px 0 #111;
}
.copier {
    background: #2ECC71;
    padding: 5px;
    display: none;
    background-image: url('../../public/images/icons/copy.png');
    background-repeat: no-repeat;
    top:10px;
    left:10px;
    width:10px;
    height:10px;
    position: absolute;
    z-index: 1001;
    background-size: contain;
    border:3px solid #16456f;
}


ul.copyMenu{
    left:30px;
    top:-20px;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 1001;
    display: none;
    border:1px solid #222;
}
.copier:hover >  ul.copyMenu{
    display: block;
}
ul.copyMenu::before{
    width:20px;
    height: 20px;
    content: '';
    transform: rotate(45deg);
    background: #111;
    position: absolute;
    top: 4px;
    left: -10px;
    z-index: -100;
    border:1px solid #222;
}

ul.copyMenu{
    box-shadow: 0 5px 10px 0 rgba(6,6,6,.8);
}
ul.copyMenu> li > a{
    background: #111;
    color:#2ECC71;
    font-size:12px;
    font-weight: bold;
    width: 100px;
    padding:6px 8px;
    border-bottom:1px solid #222;
    display: block;
    cursor: pointer;

}
ul.copyMenu> li:first-child {
    border-radius: 4px 4px 0 0;
}
ul.copyMenu> li:last-child {
    border-radius:0 0 4px 4px ;
}

ul.copyMenu> li:last-child > a{
    border-bottom: none;
}

ul.copyMenu> li > a:hover {
    background: #2ECC71;
    color:#111;
}

a.option-menu {
position: absolute;
top:18px;
right:20px;
border-radius: 50px;
border: 2px solid #16456f;
z-index: 10001;
text-align: center;
display: table-cell;
vertical-align: middle;
width: 38px; height: 38px;
padding-bottom:20px;
cursor: pointer;
text-decoration: none;
position: fixed;
}

a.option-menu img {
    margin-top:3px;
    display: none;
    margin-left: 3px;
}
